<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if page.title == "Home" %}
      <title>{{ site.name }}</title>
    {% else %}
      <title>{{ page.title }} | {{ site.name }}</title>
    {% endif %}
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.meta_description }}{% endif %}" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/syntax.css" />

    {% include social_meta.html %}
</head>
<body>

    <header id="site-head">
        {% if site.logo %}
           <a id="blog-logo" href="{{ site.url }}">
            <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.name }}" />
           </a>
        {% endif %}
    </header>
    <h1 class="blog-title"><a href="{{ site.url }}">{{ site.name }}</a></h1>

    <nav class="menu" role="nav">
        <ul>
          <li><a href="{{site.url}}">Home</a></li>
          <li><a href="https://github.com/ryan-endacott">GitHub</a></li>
          <li><a href="https://x.com/RyanEndacott">X</a></li>
        </ul>
    </nav>

    {{ content }}

    <footer class="site-footer">
        <div class="inner">
             <section class="copyright">&copy; {{ site.time | date: '%Y' }} <a href="/">{{ site.name }}</a></section>
        </div>
    </footer>

    {% include analytics.html %}
</body>
</html>
